.auth {
    background-image: url("../../../public//40c2559e2a8efe550496910b9ca103cb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}