@import "tailwindcss";

:root {
  --main-website-bg-color: #121721;
  --main-header-color: #ffffff;
  --main-text-color: #94a3b8;
  --main-bg-color: #00d1ff;
  --black-bg: #0b0e14;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--main-website-bg-color);
}

* {
  box-sizing: border-box;
}


.main-height {
  min-height: calc(100vh - 70px);
}

.main-text-color {
  color: var(--main-header-color);
}

.second-text-color {
  color: var(--main-text-color);
}

.main-bg {
  background-color: var(--main-bg-color);
}

.source-bg {
  background-color: var(--main-website-bg-color);
}

.special-text {
  color: var(--main-bg-color);
}

.main-btn {
  background-color: var(--main-bg-color);
  color: var(--main-website-bg-color);
  border-radius: calc(infinity * 1px);
  padding: 12px 32px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 209, 255, 0.4);
  transition: all;
  transition-duration: 0.3s;
}

.main-btn:hover {
  box-shadow: 0 0 30px rgba(0, 209, 255, 0.8);
}

.black-bg {
  background-color: var(--black-bg);
}

.main-layout>div {
  min-height: 100vh;
  padding-top: 60px;
}

.neon-btn {
  padding: 12px 32px;
  border-radius: calc(infinity * 1px);
  background-color: transparent;
  border: 2px solid var(--main-bg-color);
  color: var(--main-header-color);
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 209, 255, 0.8);
  cursor: pointer;
  transition-duration: 0.3s;
}

.neon-btn:hover {
  box-shadow: 0 0 30px rgba(0, 209, 255, 1);
}

.glass-bg{
  background-color: color-mix(in oklab, #1A1F2B 50%, transparent);
  border: 1px solid color-mix(in oklab, #ffffff 10%, transparent)
}

.search-bg {
  background-color: color-mix(in oklab, #fff 10%, transparent);
  border: 1px solid color-mix(in oklab, #fff 20%, transparent)
}